.loginPageEntire{
    width: 100vw; 
    height: 100vh;
    background-image: url('../assets/LoginBG.png');
    background-repeat: no-repeat;
}

.loginLeft{
    float: left;
    background-color: rgb(20, 20, 22, 0.15);
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 0 5px 5px rgb(20, 20, 22, 0.15);
}

.loginRight{
    float: right;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftLogo{
    color: #fff;
    border: 2px solid #fff;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 2rem;
}

.loginPart{
    width: 40%;
    height: 600px;
    background-color: rgb(20, 20, 22, 0.1);
    box-shadow: 0 4px 6px 0 rgb(0, 0, 0, 0.25);
    text-align: center;
    position: relative;
}

.loginTitle{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 800;
    text-align: center;
    margin: 60px auto;
}

.loginInputAll{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.loginInput{
    width: 100%;
    height: 45px;
    padding: 20px;
    color: #909090;
    font-style: italic;
    border: none;
}

.loginInput:focus{
    outline: none;
}

.signupIcon{
    position: absolute;
    bottom: 2px;
    right: 5px;
}

.loginSSO{
    display: inline-block;
    padding: 0 10px;
}

.loginSSO:hover{
    cursor: pointer;
}

.loginCnt{
    color: #ffffff;
    font-weight: 100;
    line-height: 30px;
}

.loginFooter{
    position: absolute;
    bottom: 20px;
    left: 65px;
}

.loginSelect{
    line-height: 70px;
}

.SSOList{
    margin-bottom: 20px;
}